#wrapper{margin-top:50px }
#page-wrapper{min-height:1000px;}
#menu-top{background-color:#293846;border-bottom:1px solid #080808 !important;color:#ffffff;}
.member-c{text-align:center;}
.error{color:#C04442;}
.sflash{font-weight:normal;font-size: 12px}
.help-block{font-size:11px}
.input_radio {display: inline-block;line-height: 24px;padding-right: 10px;padding-top:4px;}
.dbold{font-weight:normal;}